.card {
	width: 100%;
	max-width: 31%;
	height: 250px;
	margin: 10px;
	padding: 0;
	border: 0;
	transition: ease-in-out opacity 0.8s;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card--faded {
	border: 20px solid red;
}
