

.card {
	width: 100%;
	max-width: 25%;
	height: 14rem;
	margin: 0.8rem;
	padding: 0;
	border: 0;
	background-size: cover;
	background-color: #282c34;
}

.card:hover {
	cursor: pointer;
}

.card--hidden {
	display: none;
}

@media (max-width: 700px) {
  .card, .skeleton {
		height: 10rem;
	}
}

@media (max-width: 550px) {
  .card, .skeleton {
		height: 8rem;
	}
}

@media (max-width: 400px) {
  .card, .skeleton {
		height: 6rem;
	}
}

